# Environment files
.env
*.env
!.env.example

# Repomix AI Codebase Map output
repomix-output.xml
repomix-output.md
repomix-output.txt

# IDE files
.idea/
.vscode/

# Go build outputs & binaries
*.out
*.exe
*.test
*.prof

*.pem

# Logs
*.log

.opencode
.agents