SHARED_DB_HOST=localhost
SHARED_DB_PORT=5432
SHARED_DB_USER=postgres
SHARED_DB_PASSWORD=postgres
SHARED_DB_NAME=shared_db

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
TENANT_SERVICE_URL=http://localhost:8082
PORT=8084
