DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=user_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
PORT=8081
# Must match AUTH_JWT_PRIVATE_KEY_PEM in auth-service.
# Step 1: openssl genrsa -out private.pem 2048
# Step 2: openssl rsa -in private.pem -pubout -out public.pem
# Step 3: awk 'NF {sub(/\r/, ""); printf "%s\\n",$0;}' public.pem
AUTH_JWT_PUBLIC_KEY_PEM=
